body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-control {
  background: #fafafa;
}
.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: inherit !important;
  border-color: #ccc;
}
.zebra > *:nth-child(odd) {
  background-color: #f9f9f9;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-hover-primary:hover {
  background-color: #0d6efd !important;
}
.text-hover-white:hover {
  color: #fff !important;
}
.fs-7 {
  font-size: 11pt;
}
.fs-8 {
  font-size: 10pt;
}
.fs-8 {
  font-size: 9pt;
}
